:root{
  background-color: rgb(201, 67, 67);
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: aliceblue;
}

.container {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

h1 {
  font-size: 5.4rem;
  color: antiquewhite;
  text-align: center;
  justify-content: center;
  display: flex;
}

.choice-container {
  display: flex;
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 4px;
  background: rgb(18, 93, 255);
  font-size: 3rem;
}
.choice-container:hover{
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5);
  transform: scale(1.02);
  transition: transform 100ms;
}
.choice-prefix {
  padding: 2rem 2.5rem;
  color: antiquewhite;
}
.choice-text {
  padding: 2rem;
  width: 100%;
}
.correct {
  background: linear-gradient(32deg, rgba(11, 223,36)0%, rgb(41, 232, 111)100%);
}
.incorrect {
  background: linear-gradient(32deg, rgba(230, 29, 29, 1)0%, rgb(224, 11, 11, 1)100%);
}

#hud {
  display: flex;
  justify-content: space-between;
  height: 12rem;
}

.hud-item{
  width: 100px;
}

.progress{
  width: 21rem;
}

.hud-prefix{
  font-size: 2rem;
}

.hud-main-text {
  text-align: right;
  margin-top: 2rem'
}

#progressBar {
  width: 20rem;
  height: 3rem;
  border: 0.2rem solid rgb(11,223,36);
  margin-top: 2rem;
  border-radius: 50px;
  overflow: hidden;
}
#progressBarfull {
  height: 100%;
  background:rgb(11,223,36);
  width: 0%;
}

#question{
  font-size: 4.4rem;
}

#question h1{
  margin-bottom: 2rem;
}

}
@media screen and (max-width: 768px) {
.choice-container{
  min-width: 40rem;
}
}
